<div class="container">
  <div class="row">

    <!-- Busqueda y resultados -->
    <div class="col-lg-12">
      <div class="filtro">
        <form role="form">
          <div class="form-group">
            <div class="fila">
              <button type="button" title="Crear una nueva tarea" class="btn btn-info nuevaTarea"
              (click)="crearNuevaTarea()" aria-label="Crear nueva tarea"
              data-testid="nueva-tarea">Crear nueva tarea
              </button>
              
              <input [(ngModel)]="tareaBuscada" autocomplete="off" class="form-control" 
                id="tareaBuscada" name="tareaBuscada"
                data-testid="tareaBuscada"
                placeholder="Buscar Tarea o Persona Asignada">
            </div>
          </div>
        </form>
      </div>
      <div class="table-responsive">
        <table class="table table-striped table-hover table-condensed example-animate-container">
          <tbody>
            <tr>
              <th>Descripción</th>
              <th>Iteración</th>
              <th>Asignado a</th>
              <th>Fecha</th>
              <th>% cumplido</th>
              <th>Acciones</th>
            </tr>
            <tr data-testid="fila-tarea" *ngFor="let tarea of tareas | filterTareas: tareaBuscada | orderTareas; index as i"
              class="animate-repeat">
              <td class="col-xs-4" [attr.data-testid]="'descripcion_' + i">{{tarea.descripcion}}</td>
              <td class="col-xs-2">{{tarea.iteracion}}</td>
              <td class="col-xs-3" [attr.data-testid]="'asignatario_' + tarea.id">{{tarea.asignatario?.nombre}}</td>
              <td class="col-xs-2">{{tarea.fecha}}</td>
              <td class="col-xs-1 text-end" [ngClass]="{'table-danger': tarea.cumplio(0),
              'table-warning': tarea.cumplioMenosDe(50),
              'table-info': tarea.cumplioMenosDe(100),
              'table-success': tarea.cumplio(100)}">
                <span
                  [attr.data-testid]="'porcentaje_' + tarea.id">{{tarea.porcentajeCumplimiento | number:'1.2-2':'es' }}</span>
              </td>

              <td nowrap class="col-xs-2">
                <button type="button" title="Marcarla como cumplida" class="btn btn-default" (click)="cumplir(tarea)"
                  aria-label="Cumplir" *ngIf="tarea.sePuedeCumplir()" [attr.data-testid]="'cumplir_' + tarea.id">
                  <fa-icon icon="calendar-check"></fa-icon>
                </button>
                &nbsp;
                <button id="asignarModal" type="button" title="Asignar una persona" class="btn btn-success"
                  (click)="asignar(tarea)" *ngIf="tarea.sePuedeAsignar()" aria-label="Asignarme">
                  <fa-icon icon="user-check"></fa-icon>
                </button>
                &nbsp;
                <button type="button" title="Desasignar la persona a la tarea" class="btn btn-danger"
                  (click)="desasignar(tarea)" *ngIf="tarea.sePuedeDesasignar()" aria-label="Desasignarme"
                  [attr.data-testid]="'desasignar_' + tarea.id">
                  <fa-icon icon="user-minus"></fa-icon>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="alert alert-danger animate-repeat" *ngFor="let error of errors">{{error}}</div>
    </div>
  </div>
</div>