<!--  FORMULARIO MODAL QUE HAY QUE AGREGAR -->
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">Asignar Tarea</h4>
    </div>
    <div class="modal-body">
      <h5><i data-testid="tareaDescripcion">{{tarea?.descripcion}}</i></h5>

      <form name="asignarTareaForm" role="form">
        <fieldset>
          <div class="form-group">
            <label for="asignatario">Asignado a</label>
            <select data-testid="asignatario" name="asignatario" class="form-control" [(ngModel)]="asignatario">
              <option *ngFor="let usuario of usuariosPosibles" [ngValue]="usuario">{{usuario.nombre}}</option>
            </select>
          </div>
          <div class="example-animate-container" style="padding-top:10px">
            <div class="alert alert-danger animate-repeat" *ngFor="let error of errors">{{error}}</div>
          </div>
        </fieldset>
      </form>

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-testid="cerrar" (click)="navegarAHome()">Cerrar</button>
      <button type="button" class="btn btn-primary" data-testid="guardar" (click)="asignar()">Guardar</button>
    </div>
  </div>
</div>